<header class="header">
  <div class="header__container">
    <nav>
      <ul class="navbar">
        <li class="navbar__link-wrapper">
          <a
            class="navbar__link"
            routerLinkActive="active"
            routerLink="/"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <mat-icon aria-hidden="false" aria-label="home"> home </mat-icon>
            Home
          </a>
        </li>
        <li class="navbar__link-wrapper">
          <a class="navbar__link" routerLinkActive="active" routerLink="/info">
            <mat-icon aria-hidden="false" aria-label="info"> info </mat-icon>
            Info
          </a>
        </li>
        <li class="navbar__link-wrapper">
          <a
            class="navbar__link"
            routerLinkActive="active"
            routerLink="/projects"
          >
            <mat-icon aria-hidden="false" aria-label="projects">
              work
            </mat-icon>
            Projects
          </a>
        </li>
        <li class="navbar__link-wrapper">
          <a
            appStyleText
            class="navbar__link"
            routerLinkActive="active"
            routerLink="/text-notes"
          >
            <mat-icon aria-hidden="false" aria-label="text notes">
              text_snippet
            </mat-icon>
            Text-notes
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
