<header class="header">
  <div class="header__container">
    <nav>
      <ul class="navbar">
        <li class="navbar__link-wrapper">
          <a
            class="navbar__link"
            routerLinkActive="active"
            routerLink="/"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <mat-icon aria-hidden="false" aria-label="Example home icon">
              home
            </mat-icon>
            Home
          </a>
        </li>
        <li class="navbar__link-wrapper">
          <a class="navbar__link" routerLinkActive="active" routerLink="/info">
            <mat-icon aria-hidden="false" aria-label="Example home icon">
              info
            </mat-icon>
            Info
          </a>
        </li>
        <li class="navbar__link-wrapper">
          <a
            class="navbar__link"
            routerLinkActive="active"
            routerLink="/projects"
          >
            <mat-icon aria-hidden="false" aria-label="Example home icon">
              work
            </mat-icon>
            Projects
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
