<article class="projects">
  <h2 class="projects__title">My latest projects</h2>
  <ul class="projects row">
    <li class="projects__item col-lg-3">
      <a
        class="projects__link"
        href="https://rrroman.github.io/rslang/#/"
        target="_blank"
      >
        Rs Lang
      </a>
      - an application for learning foreign words, which includes an electronic
      textbook with a basic word for learning, mini-games for repeating them, a
      statistics page for learning individual progress. (Team project)
    </li>
    <li class="projects__item">
      <a
        class="projects__link"
        href="https://rrroman.github.io/travel-app/travel-app/#/travel-app/main"
        target="_blank"
      >
        Travel App
      </a>
      - an application for virtual travel around the world. (Team project)
    </li>
    <li class="projects__item">
      <a
        class="projects__link"
        href="https://rrroman.github.io/react-game/snake-react-game/"
        target="_blank"
      >
        Snake game
      </a>
      - game that was created with help of React library.
    </li>
    <li class="projects__item">
      <a
        class="projects__link"
        href="https://rs-trello-clone.herokuapp.com/"
        target="_blank"
      >
        Trello Clone
      </a>
      - final project of the JS Front end course. This is a team task to develop
      clone of game or application.
    </li>
  </ul>
</article>
