.notes {
  &__container {
    max-width: 850px;
    margin: 0 auto;
  }
  &__form {
    width: 100%;
  }

  &__field {
    width: 100%;
  }

  &__label {
    display: block;
  }

  &__input {
    width: 100%;
  }

  &__button {
    display: block;
  }
}
