legend {
  background-color: rgb(53, 53, 53);
  color: #fff;
  padding: 3px 6px;
  margin-left: 10px;
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
