@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: #ffffff;
  color: #141414;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
  color: #141414;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}
