.active {
  font-weight: 900;
}

.main {
  flex-grow: 1;

  &__container {
    margin: 0 auto;
    padding: 1rem 4rem;
    max-width: 1280px;

    height: 100%;
  }

  @media screen and (max-width: 768px) {
    &__container {
      padding: 1rem;
    }
  }
}

.footer {
  background-color: #718bff;
  box-shadow: 0 -3px 6px 0 rgb(50, 50, 50, 30%);

  &__container {
    margin: 0 auto;
    padding: 2rem 4rem;
    max-width: 1280px;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    font-size: 2rem;
  }

  &__item {
    margin: 1rem 2.8rem;
    transition: transform 0.3s ease-out;

    &:hover {
      transform: translate(0, -5px);
    }
  }

  &__link {
    position: relative;

    &:before {
      content: " ";
      position: absolute;
      width: 30px;
      height: 30px;
      left: -34px;
      bottom: -2px;

      background-image: url(../assets/images/spritesheet.png);
    }
  }
}

.github:before {
  background-position: -5px;
}

.gmail:before {
  background-position: -45px;
}

.linkedin:before {
  background-position: -85px;
}
