<header class="header">
  <div class="header__container">
    <ul class="navbar">
      <li class="navbar__link">
        <a
          routerLinkActive="active"
          routerLink="/"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li class="navbar__link">
        <a routerLinkActive="active" routerLink="/info">Info</a>
      </li>
      <li class="navbar__link">
        <a routerLinkActive="active" routerLink="/projects">Projects</a>
      </li>
    </ul>
  </div>
</header>

<main class="main">
  <div class="main__container">
    <router-outlet></router-outlet>
  </div>
</main>

<footer class="footer">
  <div class="footer__container">
    <ul class="footer__links">
      <li class="footer__link">
        <a
          class="github footer__link"
          href="https://github.com/rrroman"
          target="_blank"
          >GitHub</a
        >
      </li>
      <li class="footer__link">
        <a
          class="gmail footer__link"
          href="mailto:romankohutyak@gmail.com"
          target="_blank"
          >E-Mail</a
        >
      </li>
      <li class="footer__link">
        <a
          class="linkedin footer__link"
          href="https://www.linkedin.com/in/roman-kohutiak"
          target="_blank"
          >linkedin</a
        >
      </li>
    </ul>
  </div>
</footer>
