.header {
  background-color: #718bff;

  &__container {
    margin: 0 auto;
    padding: 1rem 4rem;
    max-width: 1280px;
  }
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  &__link {
    transition: transform 0.3s ease-out;

    &:hover {
      transform: translate(0, -5px);
    }
  }
}

.active {
  font-weight: 900;
}

.main {
  height: calc(100% - 80px);

  &__container {
    margin: 0 auto;
    padding: 1rem 4rem;
    max-width: 1280px;

    height: 100%;
  }

  @media screen and (max-width: 768px) {
    &__container {
      padding: 1rem;
    }
  }
}

.footer {
  background-color: #718bff;

  &__container {
    margin: 0 auto;
    padding: 1rem 4rem;
    max-width: 1280px;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  &__link {
    transition: transform 0.3s ease-out;

    &:hover {
      transform: translate(0, -5px);
    }
  }
}
