<li class="note" [ngClass]="{ success: noteIndex % 2 != 0 }">
  {{ note }}
  <div class="note__btn-wrapper">
    <a (click)="onBack()" routerLink="/text-notes" *ngIf="isOpen" mat-button
      >Back</a
    >
    <a
      (click)="onOpen()"
      mat-button
      routerLink="{{ noteIndex }}"
      *ngIf="!isOpen"
      >Open</a
    >
    <button
      (click)="onNoteDeleted()"
      mat-icon-button
      aria-label="delete note button"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</li>
