.note {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  margin: 0.5rem 0;
  padding: 1rem;

  background-color: cornflowerblue;
  border-radius: 10px;

  &__btn-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.success {
  background-color: rgb(3, 190, 3);
}
