<article class="info row">
  <h2 class="info__title">About me:</h2>
  <ul>
    <li>Full name: Roman Kohutiak.</li>
    <li>Age: 31</li>
    <li>Location: Ukraine, Ivano-Frankivsk.</li>
  </ul>
  <h3 class="info__subtitle">Certificates:</h3>
  <ul>
    <li>
      {{ rs[0].startDate + " - " + rs[0].endDate + rs[0].name }}
      <a
        class="linkedin info__link"
        href="https://rrroman.github.io/certificates/images/certificate-rs-front-end-2020-2021.png"
        target="_blank"
      >
        Link
      </a>
    </li>
    <li>2021.02 - 2021.04 The Rolling Scopes: React Course. Link incoming.</li>
  </ul>
  <h3 class="info__subtitle">Personality:</h3>
  <p>
    Punctual, communicable, responsible, consistent, dedicated, motivated
    individual with willing to learn new things.
  </p>
  <h3 class="info__subtitle">Hobbies:</h3>
  <p>
    I love to play table tennis and team sports, competitive and company games,
    jumping rope.
  </p>
</article>
